.add_post{
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

.area_add_post {
  display: flex;
  outline: none;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.button_add_post{
  height: 30px;
  width: 80px;
  border-width: .1rem; border-style: solid; border-color: gray;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  &:hover{
    border-color: #f6c1ca ;
  }



}

