.post{
  margin: 20px;
}
.item_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post_item{
  display: flex;
  align-items: center;
  .item_text{
    padding-left: 10px;
    white-space: pre-wrap;
  }
}
.post_likes{
  padding-top: 10px;
  display: flex;
  align-items: center;
  .button_like{
    cursor: pointer;
    height: 30px;
  }
}


