.sidebar {
  background-color: #b8b6b6;
  grid-area: n;
  padding: 10px;
}

.navigation {
  div {
    padding: 10px;
  }
}

.navigation_item,.find_users {
  a {
    color: #5d5d5d;
    text-decoration: none;

    &:hover {
      color: #000000;
    }
  }

  .active {
    color: #000000;
    font-size: larger;
  }
}

.navigation_Friends {
  margin-top: 50px;

  .friend_title {
    color: #515151;
    text-align: center;
    font-size: 30px;
    padding: 5px;
  }
}
.navigation_Find_Users {
  margin-top: 30px;
  .find_users {
    font-size: 20px;
    padding: 10px;
  }
}
