.friend {
  display: inline-block;
  margin: 4px;
  text-align: center;
}

.photo {
  width: 60px;
  height: 60px;
  border-radius: 100%;

}
a {
  color: #5d5d5d;
  text-decoration: none;

  &:hover {
    color: #000000;
  }
}

.active {
  color: #000000;
}