.dialog {
  display: flex;
  padding: 5px;
  align-items: center;


  a {
    color: #5d5d5d;
    text-decoration: none;

    &:hover {
      color: #000000;
    }
  }

  .active {
    color: #000000;
    font-size: larger;
  }
}

.dialogPhoto {
  .photo {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 5px;
  }
}
.dialogs_messages{
  margin-left: 20px;
}

.add_message{
  background-color: #f8f8f8;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

.area_add_message {
  display: flex;
  outline: none;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;

}
.button_send_message{
  height: 30px;
  width: 80px;
  border-width: .1rem;
  border-style: solid;
  border-color: #808080;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  margin: 10px;

  &:hover {
    border-color: #f6c1ca;
  }
}

