.wrapper {
  display: grid;
  grid-template-areas:
    "h h "
    "n c ";
  grid-template-columns: 20% 80%;
  padding: 2% 20% 0 20%;
  grid-gap: 10px;
}

.wrapper_content {
  background-color: #f6c1ca;
  grid-area: c;
  padding: 10px;
}
